
:root {
    /* Nano colors */
    --blue: #4a90e2;
    --dark-blue: #000034;
    --bright-orange: #f9ae42;

    --black: #000000;
    --white: #ffffff;
    --blue-white: #4a90e2;
    --blue-black: #18559A;
}

body {
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
  font: 1.2em "Nunito", "Noto Sans", Arial, sans-serif;
  color: var(--black);
}

a:link {
  color: var(--blue);
  text-decoration: underline;
}

a:visited {
  color: var(--blue);
  text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

img#logo {
    max-width: 300px;
}

img#somenano-logo {
    height: 1.2em;
}

img.img-break {
    margin-top: 20px;
    width:50px;
    margin-bottom: 20px;
}

.welcome-div {
    font-size: 1.2em;
    border: 1px solid;
    border-radius: 10px;
    box-shadow: 10px 10px 5px grey;
}

#timer-div {
    font-size: 1.5em;
}